body {
  display: flex;
  height: 500px;
  align-items: center;
  justify-content: center;
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
    background-color: #f8f6f4
}
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: #fff;
    border: 2px solid #4B0082;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 50px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 50px;
    margin: 2px;
    border-radius: 15%;
  }
  
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
  }
  
  .game-info {
    margin-left: 20px;
  }

  .btt {
    border-radius: 20px;
    padding: 10px 24px;
  }

  